.container {
  display: grid;
  border: 1px solid lightgrey;
  grid-template-columns: 60px 600px 400px 200px;
  grid-template-rows: 100%;
}
.header-container {
  grid-column-start: 2;
  grid-column-end: 2;
}
.button-container {
  grid-column-start: 4;
  grid-column-end: 4;
}

button {
  height: 50px;
  width: 80px;
  margin-top: 20px;
  margin-left: 10px;
  border-radius: 5px;
  background-color: lightblue;
  color: white;
}
