.signup-container {
  display: block;
  width: 33%;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
}

.signup-container form {
  padding: 12%;
  border: 1px solid lightcoral;
  box-shadow: 5px 5px lightgrey;
  border-radius: 5px;
}
.signup-container label {
  display: block;
}
label input {
  grid-row-start: 1;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  margin-bottom: 10%;
}

.signup-container button {
  grid-row-start: 5;
  margin-top: 10%;
  height: 80%;
  width: 100%;
  border-radius: 5px;
  background-color: lightblue;
  color: white;
}

.signup-container button:hover,
button:focus {
  border-style: solid;
  background-color: rgba(211, 211, 211, 0.281);
  border-color: lightcoral;
  border-image: initial;
  transition: color 0.5s ease 0s, fill 0.5s ease 0s, box-shadow 0.5s ease 0s;
  color: lightcoral;
}
